/*------------------------------HEADER------------------------------*/

.admin-header{
    width: 100vw;
}

.admin-navbar-list{
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
}

.admin-navbar-list a{
    border: 1.5px solid var(--primary-color);
    border-radius: 8px;
    padding: 8px 16px;
    transition: all 0.2s ease;
}

.admin-navbar-list a:hover{
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border: 1.5px solid black;
    transform: scale(1.1);
}