/*---------------------HEADER COMPONENT---------------------*/
.header{
    width: 100vw;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    height: var(--header-height);
    position:sticky;
    top: 0;
    z-index: 2;
}

.logo-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-list{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    padding-right: 8%;
}

.header-list-item{
    color: white;
    font-weight: bold;
}

/*---------------------AUTH COMPONENT-----------------------*/

.auth-component-background{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
}

.login-signup-conmtainer{
    background-color: white;
    height: 75%;
    width: 64%;
    border-radius: 32px;
    z-index: 15;
    position: relative;
    overflow: hidden;
}

.close-btn-container{
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: red;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 20;
}

.close-btn{
    color: white;
    font-size: 1.4rem;
    font-weight: bolder;
}

.login-signup-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

.login-signup-wrapper .auth-container{
    width: 50%;
    position: relative;
}

.login-container::after{
    content: "";
    background-color: black;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5px;
    height: 60%;
    opacity: 0.2;
}

.signup-container::after{
    content: "";
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5px;
    height: 60%;
    opacity: 0.2;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-wrapper{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    right: 0;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}

.top-wrapper.signup{
    transform: translateX(-100%);
}

.top-wrapper.login{
    transform: translateX(0);
}

.create-account-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account-text{
    color: var(--primary-color);
}

.create-account-text:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*---------------------FOOTER COMPONENT---------------------*/
footer{
    height: var(--footer-height);
    background-color: black;
}