/*-------------------------CATEGORY CARD-------------------------*/
.category-card{
    flex: 1;
    position: relative;
    width: 50%;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.category-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    z-index: 2;
}

.category-card-image{
    filter: brightness(0.4);
    width: 100%;
    transition: all 0.4s ease-in-out;
    object-fit: cover;
    height: 100%;
}

.category-card:hover{
    flex-grow: 1.5;
}

.category-card:hover .category-card-image{
    filter: brightness(1);
}

/*-----------------------PRODUCT CARD-----------------------*/

.product-card{
    flex: 0 0 calc(33.333% - 24px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 400px;
    border-radius: 24px;
    transition: all 0.2s ease-in;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.product-card:hover{
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.prdocut-img-container{
    /*border: 1px solid black;*/
    width: 80%;
    aspect-ratio: 1;
}

.bottom-product-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
}

.product-price{
    font-weight: bold;
    font-style: italic;
}

.add-to-cart-btn{
    background-color: var(--primary-color);
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*-----------------------LOADING CARTEL-----------------------*/

.loading-container{
    height: 280px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}

.loading-img-container{
    flex-grow: 1;
}

.loading-img{
    height: 100%;
    animation: spinEase 2.4s infinite;
}

.loading{
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
}

.error{
    font-size: 1.2rem;
    text-align: center;
}

/*---------------------------LOGIN FORM-------------------------*/

.login-component{
    /*border: 1px solid black;*/
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-weight: 500;
}

.login-1{
    margin-bottom: 12%;
}

.login-img-container{
    aspect-ratio: 1;
    width: 116px;
}

.login-img{
    object-fit: cover;
    width: 100%;
}

.form-title{
    font-size: 2rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.login-component input{
    outline: 1px solid var(--primary-color);
    padding: 8px 16px;
    width: 100%;
    border-radius: 16px;
    transition: all 0.1s ease;
}

.login-component label{
    margin-left: 8px;
}

.login-form{
    width: 72%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.login-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn{
    background-color: var(--primary-color);
    border-radius: 16px;
    padding: 12px;
    margin-top: 12px;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

.login-component input:focus{
    background-color: color-mix(in srgb, var(--primary-color) 70%,  transparent);
    outline: 1px solid black;
}

.login-component input:focus::placeholder{
    color: white;
    opacity: 1;
}



.submit-btn:active{
    transform: scale(1.2);
}

/*------------------------KEYFRAMES------------------------*/

@keyframes spinEase {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.7, 0, 1, 0.5); /* acelera */
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.3, 1); /* empieza a frenar */
  }
  100% {
    transform: rotate(720deg);
  }
}